HOT_UPDATER_INIT_BUILD=bare
HOT_UPDATER_INIT_PROVIDER=supabase
HOT_UPDATER_SUPABASE_PROJECT_ID=
HOT_UPDATER_SUPABASE_BUCKET_NAME=hot-updater-storage
HOT_UPDATER_SUPABASE_FUNCTION_NAME=update-server
HOT_UPDATER_SUPABASE_DB_PASSWORD=
HOT_UPDATER_SUPABASE_DB_PASSWORD_PROJECT_ID=
HOT_UPDATER_SUPABASE_SERVICE_ROLE_KEY=
HOT_UPDATER_SUPABASE_URL=